.main {
  background-color: #708AB2;
  color: #FFFFFF;
  min-height: 100vh;
  font-family: 'Helvetica Neue';

  .navbar-toggler.toggler-example {
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 10;
    padding: 0;

    span {
      display: block;
      background-color: white;
      width: 18px;
      height: 2px;
      margin-bottom: 5px;
    }
  }

  .user {
    background-color: #373F40;
    position: absolute;
    top: 0;
    left: -15px;
    width: 250px;
    min-height: 100vh;
    padding-top: 50px;

    &-icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
      margin: 10px auto;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 15px;
      }
      p {
        font-size: 10px;
      }
    }

    &-menu {
      border-bottom: 0.5px solid #707070;
      li {
        border-top: 0.5px solid #707070;
        padding: 20px 0 20px 30px;

        a {
          color: #B3B6B7;
          font-size: 17px;
          text-decoration: none;
        }
      }
    }
  }

  .navbar-brand {
    color: white;
    font-size: 20px;
  }

  .navbar-info {
    position: relative;

    .badge {
      position: absolute;
      right: -10px;
      top: -6px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px);
    a{
      margin-top: 30px;

      @media (max-width: 350px) {
        margin-bottom: 0;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;

    &-item {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 350px) {
        margin: 0 15px;
      }

      img {
        margin-bottom: 5px;
      }
      span {
        color: white;
        font-size: 9px;
        text-transform: uppercase;
      }
    }
  }
}